NODE_ENV=production
PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info

DOCKER_REGISTRY=username 
IMAGE_NAME=devops-assignment
IMAGE_TAG=latest

DEVOPS_EC2_HOST=<your-ec2-public-ip>
DEVOPS_EC2_USER=ubuntu

DEVOPS_EMAIL_RECIPIENTS=testing@gmail.com
